@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@300&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  background-color: #100c24;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  color: #f0f0f0;
}

ul li {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0px 30px 0px 30px;
}
ul li:hover{
  cursor: pointer;
  color: #b9a5e2;
}
nav div i {
  margin: 0px 10px 0px 10px;
}

main {
  display: grid;
  place-content: center;
  width: 100%;
  /* margin: 20px; */
  height: 100%;
}

main img {
  width: 500px;
}



header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin: 40px;
}

header p:nth-child(1) {
  font-size: 1rem;
  color: #100c24;
  margin: 12px;
}

header h3 {
  color: #b9a5e2;
  margin: 12px;
  font-size: 1rem;
  text-align: left;
}

header p {
  font-size: 0.9rem;
  margin: 12px;
}

.skill-header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.skill-header p {
  font-size: 1rem;
  color: #100c24;

}

.skill-header h3 {
  font-size: 1.3rem;
  margin: 5px 0 0;
}

.skill-header div {
  width: 90%;
}

.skill-header h4 {
  font-weight: 400;
  font-size: .8rem;
}


.bar-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
  width: 95%;
  justify-content: space-between;
}

.skill {
  width: 50%;
}

.bar {
  background-color: grey;
}

.progress {
  text-align: center;
  background-color: #b9a5e2;
}

.swiper-slide img {
  width: 200px;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin: 20px;
  width: 100%;
  height: 100%;
  /* overflow: hidden */
}

.swiper-slide img {
  display: block;

}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    padding: 10px;
  }

  ul li {
    display: block;
    margin: 10px 0;
  }

  header {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .skill-header {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .bar-container {
    flex-direction: column;
    margin: 10px;
  }

  .skill {
    width: 100%;
  }

  .swiper-slide img {
    width: 80px;
  }
  main {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}
main img {
  width:200px;
  margin: 20px;
}

}